body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('Hardenbergstraße 15.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Georgia', serif;
  color: #000; /* Set text color to black or adjust as needed */
}
